<div class="container">
    <mat-card class="cadastro-card">
      <mat-card-header>
        <mat-card-title>Cadastro de Usuário</mat-card-title>
      </mat-card-header>
  
    <mat-card-content>
        <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" required autocomplete="email" />
            <mat-error *ngIf="cadastroForm.get('email')?.invalid && cadastroForm.get('email')?.touched">
              Por favor, insira um email válido.
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Senha</mat-label>
            <input matInput type="password" formControlName="password" required autocomplete="new-password" />
            <mat-error *ngIf="cadastroForm.get('password')?.invalid && cadastroForm.get('password')?.touched">
              A senha é obrigatória e deve ter no mínimo 6 caracteres.
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Perfil</mat-label>
            <mat-select formControlName="profile">
              <mat-option value="ADMINISTRATOR">Administrador</mat-option>
              <mat-option value="COMMON">Comum</mat-option>
            </mat-select>
          </mat-form-field>          
  
          <button mat-raised-button color="primary  " type="submit" [disabled]="cadastroForm.invalid" class="full-width">
            Cadastrar
          </button>
        </form>

        <button mat-button color="accent" class="full-width" routerLink="/login" style="margin-top: 1rem;">
            Voltar para Login
          </button>
      </mat-card-content>
    </mat-card>
</div>
  